# Ren'Py compiled/cache
**/*.rpyc
**/__pycache__/
cache/
_disabled_cache/
_disabled_rpyc/

# Logs / temp / diagnostics
*.log
*.out
*.err
traceback.txt
traceback.pre_quickload.txt
_boot_log.txt
_current_ui_test.txt
_forest_bar_lint.txt
_full_test_err.txt
_full_test_out.txt
_household_talk_lint.txt
_lint_latest.txt
_lint_run.txt
_morning_breakfast_lint.txt
_one_test2_err.txt
_one_test_err.txt
_post_patch_lint.txt
_post_patch_ui_test.txt
_reload_fix_boot.txt
_reload_fix_compile.txt
_reload_fix_lint.txt
_reload_fix_test.txt
_renpy_help.txt
_sleep_test_err.txt
_sleep_test_out.txt
_tavern_paths_boot.txt
_tavern_paths_compile.txt
_tavern_paths_lint.txt
_ui_regressions_latest.txt
_ui_regressions_latest_rerun.txt
_ui_test_err.txt
_ui_test_run.txt
lint.err
lint.out
lint_out.txt
log.txt
renpy_lint_output.txt
renpy_test_output.txt
renpy_test_output_verbose.txt
test_out.txt
tmp_image_list.txt

# Editor
.vscode/

# Optional non-project folders
Inn_rpy_backup/
_disabled/
renpy_mcp_server/

textLocRef/
